version: "3.8"

services:
  app:
    build: .
    container_name: spring-api
    ports:
      - "8080:8080"
    env_file: .env
    depends_on:
      - db
    networks:
      - spring-net

  db:
    image: postgres:16-alpine
    container_name: postgres-db
    env_file: .env
    ports:
      - "5432:5432"
    networks:
      - spring-net

networks:
  spring-net:
    driver: bridge
